@import url(https://fonts.googleapis.com/css?family=Khula);
#logo{
  /* border: solid 1px black; */
  width: 300px;
  height:275px;
  margin: 0 auto;
}

nav{
  /* border: solid 1px black; */
  width: 400px;
  text-align: center;
  margin: 0 auto;
  font-family: "Khula";
  color: #6CAC44;

}

nav ul{
  list-style-type: none;
  padding-left:0;
}

nav ul li {
  display: inline-block;
  margin: 0px 10px 0px 10px
}

#information{
  /*border: solid 1px red;*/
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}

#personal_photo{
  /* border: solid 1px green;*/
  width: 300;
  height: 300px;
  float: left;
  margin: 5%;
}

#about{
  /* border: solid 1px green;*/
  width: 40%;
  height: 300px;
  float: left;
  margin: 5%;
  font-family: "Khula";
  font-size: 90%
}

h2 {
  color: #6CAC44;
}

#projects{
  border: solid 1px red;
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}

#packaging{
  border: solid 1px green;
  width: 22%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}

#print{
  border: solid 1px green;
  width: 22%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}

#digital{
    border: solid 1px green;
    height: 300px;
    width: 22%;
    float: left;
    margin: calc(5% - 1px);
}
#companys{
  border: solid 1px red;
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}
#dyson{
  border: solid 1px green;
  width: 22%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}
#oxo{
  border: solid 1px green;
  width: 22%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}
#digital{
    border: solid 1px green;
    height: 300px;
    width: 22%;
    float: left;
    margin: calc(5% - 1px);
}
