#logo{
  border: solid 1px black;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}
nav{
  border: solid 1px black;
  width: 300px;
  text-align: center;
  margin: 0 auto;

}

nav ul{
  list-style-type: none;
  padding-left:0;
}
nav ul li {
  display: inline-block;
  margin: 0px 10px 0px 10px
}

#information{
  border: solid 1px red;
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}
#personal_photo{
  border: solid 1px green;
  width: 40%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}
#about{
  border: solid 1px green;
  width: 40%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}

#projects{
  border: solid 1px red;
  width: 80%;
  min-height: 400px;
  margin: 0 auto;
}
#packaging{
  border: solid 1px green;
  width: 20%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}
#print{
  border: solid 1px green;
  width: 20%;
  height: 300px;
  float: left;
  margin: calc(5% - 1px);
}
#digital{
    border: solid 1px green;
    height: 300px;
    width: 20%;
    float: left;
    margin: calc(5% - 1px);
}
